@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	//@font-face {
	//	font-family: Atkinson Hyperlegible;
	//	font-weight: 400;
	//	font-style: normal;
	//	src: url(/fonts/Atkinson-Hyperlegible-Regular-102.ttf) format("truetype");
	//	font-display: swap;
	//}

	:root {
		--theme-bg: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply scroll-smooth;
	}

	html body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-8 pt-16 text-sm font-normal text-textColor antialiased;
	}

	main a[href^="http"] {
		margin-right: 1.25em;
	}

	:root main a[href^="http"]::after {
		position: absolute;
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-left: 0.25em;
		transform: translateY(0.25em);
		background-size: 100%;
		background-image: url(/external-link-light.svg);
	}

	:root main a[href*="kieran-mcguire.uk"]::after {
		display: none;
	}

	:root main a[href*="kieran-mcguire.uk"] {
		margin-right: 0;
	}
}
