---
import { siteConfig } from "@/site-config";
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer
	class="mt-12 gap-y-2 border-t-[0.5px] border-dashed border-gray-500 pb-4 pt-4 align-top text-xs text-gray-600 dark:text-gray-400">
	<div class="mt-0">
		Copyright &copy; {year}{" "}
		{siteConfig.author}
	</div>
	<div>
		<p class="mt-2">
			<Icon
				aria-hidden="true"
				class="mr-1 inline h-4 w-4"
				focusable="false"
				name="mdi:email-fast"
			/><a
				href="mailto:mailto:gritty.art9139@fastmail.com"
				class="underline"
				>Send me an email!</a
			>
		</p>
		<p class="mt-2">
			<Icon
				class="mr-1 inline h-4 w-4"
				name="mdi:rss"
				aria-hidden="true"
				focusable="false"
			/><a
				href="/rss.xml"
				class="underline"
				>RSS</a
			> (<a
				href="https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fkieranmcguire.uk%2Frss.xml"
				class="underline"
				>validator.w3.org</a
			>)
		</p>
		<p class="mt-2">
			<Icon
				class="mr-1 inline h-4 w-4"
				name="mdi:cookie-off"
				aria-hidden="true"
				focusable="false"
			/>No cookies between friends
		</p>
		<p class="mt-2">
			<Icon
				class="mr-1 inline h-4 w-4"
				name="mdi:leaf"
				aria-hidden="true"
				focusable="false"
			/>0.02g of CO2 per view, cleaner than 98% of tested pages (<a
				href="https://www.websitecarbon.com/website/kieranmcguire-uk/"
				class="underline"
				>websitecarbon.com</a
			>)
		</p>
		<p class="mt-4 border-t-[0.5px] border-dashed border-gray-500 pt-2 font-semibold">
			<a href="https://xn--sr8hvo.ws/previous"
				><Icon
					class="mr-1 inline h-4 w-4"
					name="mdi:arrow-left-thin"
					aria-hidden="false"
					aria-label="previous"
					focusable="true"
				/></a
			>
			<em
				><a
					href="https://xn--sr8hvo.ws"
					class="underline"
					>An IndieWeb Webring</a
				></em
			>
			<Icon
				class="ml-1 inline h-4 w-4"
				name="mdi:spider-web"
				aria-hidden="true"
				focusable="false"
			/><Icon
				class="inline h-4 w-4"
				name="mdi:ring"
				aria-hidden="true"
				focusable="false"
			/>
			<a href="https://xn--sr8hvo.ws/next"
				><Icon
					class="ml-1 inline h-4 w-4"
					name="mdi:arrow-right-thin"
					aria-hidden="false"
					aria-label="next"
					focusable="true"
				/></a
			>
		</p>
	</div>
</footer>
