---
import { siteConfig } from "@/site-config";
import { Icon } from "astro-icon";

const year = new Date().getFullYear();
---

<footer class="gap-y-2 pb-4 pt-20 align-top text-xs text-gray-500">
  <div class="mt-0">
    Copyright &copy; {year}{" "}
    {siteConfig.author}
  </div>
  <nav
    aria-label="More on this site"
    class="mt-2 gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
  >
    <a href="/" class="py-2 pr-2 sm:py-0 sm:pr-2 sm:hover:text-textColor sm:hover:underline">Home</a
    >
    <a href="/posts/" class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
      >Blog</a
    >
    <a
      href="/blogroll/"
      class="px-4 py-2 sm:px-2 sm:py-0 sm:hover:text-textColor sm:hover:underline">Blogroll</a
    >
    <a href="/rss.xml" class="py-2 pl-2 sm:py-0 sm:hover:text-textColor sm:hover:underline">RSS</a>
  </nav>
  <div>
    <p class="mt-2">
      <a href="https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fkieran-mcguire.uk%2Frss.xml">
        <Icon class="inline h-4 w-4" name="mdi:rss" aria-hidden="true" focusable="false" />
        Valid RSS
        <Icon class="inline h-4 w-4" name="mdi:check" aria-hidden="true" focusable="false" />
      </a>
    </p>
    <p class="mt-2">
      <Icon class="inline h-4 w-4" name="mdi:cookie-off" aria-hidden="true" focusable="false" />
      No cookies between friends
    </p>
    <p class="mt-2 font-semibold">
      <a href="https://xn--sr8hvo.ws/previous"><Icon class="inline h-4 w-4" name="mdi:arrow-left-thin" aria-hidden="false" aria-label="left arrow" focusable="true"/></a>
      <em>An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a></em>
      <Icon class="inline h-4 w-4" name="mdi:spider-web" aria-hidden="true" focusable="false"/>
      <Icon class="inline h-4 w-4" name="mdi:ring" aria-hidden="true" focusable="false" />
      <a href="https://xn--sr8hvo.ws/next"><Icon class="inline h-4 w-4" name="mdi:arrow-right-thin" aria-hidden="false" aria-label="right arrow" focusable="true"/></a>
    </p>
  </div>
</footer>
