---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<h2 class="mb-4 text-xl">Me</h2>
		<p>
			I do ‘digital’ stuff in the charity sector, trying to bridge the gaps between website
			management, product and platform ownership, and tech and development. I also enjoy all the
			typical hobbies you might expect: film and TV, videogames and boardgames, books and comics,
			music and podcasts.
		</p>
		<ul class="list-inside list-disc">
			<li>Mastodon: <a href="https://hachyderm.io/@kieranmcguire">hachyderm.io/@kieranmcguire</a>
			</li>
			<li>Letterboxd: <a href="https://letterboxd.com/kieranimo/">letterboxd.com/kieranimo</a></li>
			<li>Github: <a href="https://github.com/kdmcguire">github.com/kdmcguire</a></li>
		</ul>
		<p>I'm not on Twitter or Instagram (anymore).</p>
		<h2 class="mb-4 text-xl">This site</h2>
		<p>
			This site uses the 'Astro Theme Cactus' starter template, by Chris Williams, with some truly
			minor customisations. You can see their GitHub repo here: <a
				class="cactus-link"
				href="https://github.com/chrismwilliams/astro-theme-cactus"
				>chrismwilliams/astro-theme-cactus</a
			>
		</p>
		<p>
			The repo for my blog, based on the above template, is here: <a
				class="cactus-link"
				href="https://github.com/kdmcguire/blog">kdmcguire/blog</a
			>
		</p>
	</div>
</PageLayout>
