---
import PageLayout from "@/layouts/Base.astro";
const meta = {
	title: "AI",
	description: "A page describing my use (or, in my case, avoidance) of AI tools",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">AI</h1>
		<h2 class="title mb-4 text-xl">Usage</h2>
		<p class="mb-4">
			I don't and won't use 'AI' or LLM tools if I can avoid it. So far, that's been incredibly
			easy!
		</p>
		<p class="mb-4">All of my words and images are created by me, and they always will be.</p>
		<p class="mb-4">I try to block as many AI scrapers as possible in my site's robots.txt file.</p>
		<h2 class="title mb-4 text-xl">Principles</h2>
		<p class="mb-4"><strong>I abhor the tools touted as 'AI'.</strong></p>
		<p class="mb-4">At the very least, they are:</p>
		<ul class="mb-4 list-inside list-disc">
			<li>Environmentally harmful, another accelerant on the planetary bonfire that is climate change.</li>
			<li>Inaccurate, because they cannot reason or understand what is true like a person can.</li>
			<li>Built on massive theft that we're ignoring because it's convenient.</li>
		</ul>
		<p class="mb-4">And, to various extents, they are also:</p>
		<ul class="mb-4 list-inside list-disc">
			<li>A massive, over-hyped bubble, inflated by grifters, ready to burst.</li>
			<li>Fed incorrect, biased data, sometimes even blatant disinformation, and then held up as an authority.</li>
			<li>Misapplied in harmful ways, like recruitment screening that invariably favours white, middle class bros.</li>
		</ul>
		<p class="mb-4">For the sake of balance:</p>
		<p class="mb-4">
			I am fine with small, focused tools that deliver an immediate, tangible benefit, and do as
			little environmental harm as possible. If a product can describe what it does and why I should
			use it without even mentioning 'AI', that's a good sign.
		</p>
	</section>
</PageLayout>
