---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Blogroll" }}>
	<section>
		<h1 class="title mb-6">Blogroll</h1>
		<p class="mb-4">A.k.a. some blogs I follow</p>
		<ul class="list-inside list-disc mb-4">
			<li><a href="https://brr.fyi/" class="cactus-link">brr.fyi</a></li>
			<li><a href="https://cassie.codes/" class="cactus-link">cassie.codes</a></li>
			<li><a href="https://charity.wtf/" class="cactus-link">charity.wtf</a></li>
			<li><a href="https://dreadships.com/" class="cactus-link">dreadships.com</a></li>
			<li><a href="https://eli.li/" class="cactus-link">eli.li</a></li>
			<li><a href="https://geepawhill.org/" class="cactus-link">geepawhill.org</a></li>
			<li><a href="https://heyged.dev/" class="cactus-link">heyged.dev</a></li>
			<li><a href="https://newsletter.mollywhite.net/" class="cactus-link">newsletter.mollywhite.net</a></li>
			<li><a href="https://solar.lowtechmagazine.com/" class="cactus-link">solar.lowtechmagazine.com</a></li>
			<li><a href="https://visitmy.website/" class="cactus-link">visitmy.website</a></li>
			<li><a href="https://www.zachleat.com/" class="cactus-link">zachleat.com</a></li>
		</ul>
	</section>
</PageLayout>
