---
import PageLayout from "@/layouts/Base.astro";
const meta = {
	title: "Now",
	description: "A bit about what I'm up to at the moment, if you're interested.",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Now</h1>
		<p class="mb-4"><em>Updated: 2024-03-29</em></p>
		<p class="mb-4">
			What's this? Just a lil' summary of what I'm up to these days. Check out <a
				href="https://nownownow.com"
				class="cactus-link">nownownow.com</a
			> for others.
		</p>
		<h2 class="title mb-4 text-xl">Life</h2>
		<p class="mb-4">
			In 2021, I moved from a tiny village in Essex to the bustling (but still relatively compact)
			city of Canterbury in Kent! I am enjoying feeling like a 'local' here, even if it's only been
			a couple of years.
		</p>
		<p class="mb-4">
			<em>To do: write a blog post for my local recommendations!</em>
		</p>
		<h2 class="title mb-4 text-xl">Work</h2>
		<p class="mb-4">
			I work as a Digital Platform Manager for British Red Cross. I'm part of a new internal team
			trying to build a new 'Web Platform'. We think the better tech and ways-of-working will be a
			boon in the long run. I've <a
				href="https://medium.com/digital-and-innovation-at-british-red-cross/how-were-building-an-adaptable-and-sustainable-web-platform-f4312a1e9df1"
				class="cactus-link">written more about this for our team's Medium blog</a
			>.
		</p>
		<h2 class="title mb-4 text-xl">Reading</h2>
		<p class="mb-4">
			I usually have three categories of book on the go at once: fiction, non-fiction, and a
			comic/graphic novel. I didn't read much for a few years and am trying to cultivate the habit
			again, so I find having a few different things to swap between helps keep me from getting
			stuck in a rut.
		</p>
		<p class="mb-4">
			I've become a bit frustrated with BookWyrm, it's pretty unstable and has a huge problem with
			duplicate books and even authors. For now, I'm trying out <a
				href="https://hardcover.app/"
				class="cactus-link">Hardcover.app</a
			>. The founders/devs are looking into the ability to import books and reading history from a
			BookWyrm export.
		</p>
		<p class="mb-4">I'm currently reading:</p>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<a href="https://hardcover.app/books/the-dark-forest" class="cactus-link"
					><em>The Dark Forest</em></a
				> by Cixin Liu (translated by Joel Martinsen). I read the first book in this series, <em
					><a href="https://hardcover.app/books/the-three-body-problem" class="cactus-link"
						>Three-Body Problem</a
					></em
				>, in one day, which is unusual for me! Looking forward to diving into the second.
			</li>
			<li>
				<a href="https://hardcover.app/books/arca-2023" class="cactus-link">Arca</a> by Van Jensen.
			</li>
			<li>
				<a href="https://hardcover.app/books/the-inugami-curse" class="cactus-link"
					><em>The Inugami Curse</em></a
				>, by Seishi Yokomizo. This one's been on the back-burner for a little while, I need to get
				back to it.
			</li>
		</ul>
		<h2 class="title mb-4 text-xl">Listening</h2>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<a href="https://haniarani.bandcamp.com/album/ghosts" class="cactus-link">Ghosts</a>, by
				Hania Rani
			</li>
			<li>
				A combination of <a href="https://grizzlybearbrooklyn.bandcamp.com/" class="cactus-link"
					>Grizzly Bear</a
				> albums on repeat
			</li>
		</ul>
		<h2 class="title mb-4 text-xl">Watching</h2>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<a href="https://en.wikipedia.org/wiki/Sh%C5%8Dgun_(2024_miniseries)" class="cactus-link"
					>Shōgun</a
				>
			</li>
			<li>
				<a href="https://en.wikipedia.org/wiki/Star_Trek:_The_Next_Generation" class="cactus-link"
					>Star Trek: The Next Generation</a
				>, random episodes, on repeat. So many good role models. I wish I'd watched this when I was
				a kid!
			</li>
		</ul>
		<h2 class="title mb-4 text-xl">Playing</h2>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<em
					><a href="https://store.steampowered.com/app/1144200/Ready_or_Not/" class="cactus-link"
						>Ready or Not</a
					></em
				>
				(a bit grim)
			</li>
			<li>
				<em
					><a href="https://store.steampowered.com/app/2357570/Overwatch_2/" class="cactus-link"
						>Overwatch</a
					></em
				>
			</li>
			<li>
				<em
					><a href="https://store.steampowered.com/app/1091500/Cyberpunk_2077/" class="cactus-link"
						>Cyberpunk 2077</a
					></em
				>
			</li>
			<li>
				<em
					><a href="https://store.steampowered.com/app/986130/Shadows_of_Doubt/" class="cactus-link"
						>Shadows of Doubt</a
					></em
				> - love this, weird little detective sim with generated cities, people, and crimes to solve
			</li>
		</ul>
	</section>
</PageLayout>
