---
import PageLayout from "@/layouts/Base.astro";
const meta = {
	title: "Now",
	description: "A bit about what I'm up to at the moment, if you're interested.",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Now</h1>
		<p class="mb-4"><em>Updated: 2024-11-15</em></p>
		<p class="mb-4">
			What's this? Just a lil' summary of what I'm up to these days. Check out <a
				href="https://nownownow.com"
				class="cactus-link"
				>nownownow.com</a
			> for others.
		</p>
		<h2 class="title mb-4 text-xl">Life</h2>
		<p class="mb-4">
			In 2021, I moved from a tiny village in Essex to the bustling (but still relatively compact)
			city of Canterbury in Kent! I am enjoying feeling like a 'local' here, even if it's only been
			a couple of years.
		</p>
		<p class="mb-4">
			<em>To do: write a blog post for my local recommendations!</em>
		</p>
		<h2 class="title mb-4 text-xl">Work</h2>
		<p class="mb-4">
			I work as a 'Digital Platform Manager', and have been working on and managing websites - for
			charity/non-profit organisations, by choice - for my entire career. At the moment, I'm part of
			a new(ly formed), in-house team that is trying to build an internal 'web platform'. There's a
			lot of new stuff to learn, but we're working on it!
		</p>
		<h2 class="title mb-4 text-xl">Reading</h2>
		<p class="mb-4">
			I'm currently reading:
			<a
				href="https://ramblingreaders.org/book/409803/s/what-does-israel-fear-from-palestine"
				class="cactus-link"
				><em>What Does Israel Fear from Palestine?</em></a
			> and struggling with the state of the world.
		</p>
	</section>
	<h2 class="title mb-4 text-xl">Listening</h2>
	<p class="mb-4">
		Mainly <a
			href="https://kinggizzard.bandcamp.com/music"
			class="cactus-link"
			>King Gizzard & The Lizard Wizard</a
		>, especially the album <a
			href="https://kinggizzard.bandcamp.com/album/butterfly-3000"
			class="cactus-link"
			>Butterfly 3000</a
		>. Blue Morpho is my favourite track from that album and I could (and have) listen to it on
		repeat for a long, long time.
	</p>
	<h2 class="title mb-4 text-xl">Watching</h2>
	<p class="mb-4">
		You can look at my <a
			href="https://letterboxd.com/kieranimo/films/diary/"
			class="cactus-link"
			>Letterboxd diary</a
		> to see the movies I've watched recently.
	</p>
	<p class="mb-4">TV:</p>
	<ul class="mb-4 list-inside list-disc">
		<li>The X-Files</li>
		<li>Parks & Recreation</li>
		<li>Taskmaster</li>
		<li>Star Trek: The Next Generation (always)</li>
	</ul>
	<h2 class="title mb-4 text-xl">Playing</h2>
	<ul class="mb-4 list-inside list-disc">
		<li>Signalis - when I'm feeling brave enough!</li>
		<li>Street Figter 6 - I suck, but training is addictive</li>
		<li>Overwatch 2 - it's the default after work social game with some friends</li>
		<li>Cyberpunk 2077 - I've finished it, but I still like to walk around the city</li>
	</ul>
</PageLayout>
