---
import PageLayout from "@/layouts/Base";
const meta = {
	title: "Now",
	description: "A bit about what I'm up to at the moment, if you're interested.",
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6">Now</h1>
		<p class="mb-4"><em>Updated: 2023-10-22</em></p>
		<p class="mb-4">
			What's this? Just a lil' summary of what I'm up to these days. Check out <a
				href="https://nownownow.com"
				class="cactus-link">nownownow.com</a
			> for others.
		</p>
		<h2 class="title mb-4 text-xl">Life</h2>
		<p class="mb-4">
			In 2021, I moved from a tiny village in Essex to the bustling (but still relatively compact)
			city of Canterbury in Kent! I am enjoying feeling like a 'local' here, even if it's only been
			a couple of years.
		</p>
		<p class="mb-4">
			<em>To do: write a blog post for my local recommendations!</em>
		</p>
		<h2 class="title mb-4 text-xl">Work</h2>
		<p class="mb-4">
			I work as a Digital Platform Manager for British Red Cross. I'm part of a new internal team
			trying to build a new 'Web Platform'. We think the better tech and ways-of-working will be a
			boon in the long run. I've <a
				href="https://medium.com/digital-and-innovation-at-british-red-cross/how-were-building-an-adaptable-and-sustainable-web-platform-f4312a1e9df1"
				class="cactus-link">written more about this for our team's Medium blog</a
			>.
		</p>
		<h2 class="title mb-4 text-xl">Reading</h2>
		<p class="mb-4">
			I usually have three categories of book on the go at once: fiction, non-fiction, and a
			comic/graphic novel. I didn't read much for a few years and am trying to cultivate the habit
			again, so I find having a few different things to swap between helps keep me from getting
			stuck in a rut.
		</p>
		<p class="mb-4">
			I have a Bookwyrm account, but I tend to boost the posts for my reviews there on my Mastodon
			account anyway.
		</p>
		<p class="mb-4">I'm currently reading:</p>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<a href="https://bookwyrm.social/book/1019048/s/the-inugami-curse" class="cactus-link"
					><em>The Inugami Curse</em></a
				>, by Seishi Yokomizo.
			</li>
			<li>
				<a href="https://bookwyrm.social/book/26867/s/working-in-public" class="cactus-link"
					>Working in Public: The Making and Maintenance of Open Source Software</a
				> by Nadia Eghbal.
			</li>
			<li>
				<a href="https://bookwyrm.social/book/1307163/s/a-guest-in-the-house" class="cactus-link"
					>A Guest in the House</a
				> by Emily Carroll.
			</li>
		</ul>
		<h2 class="title mb-4 text-xl">Listening</h2>
		<p class="mb-4">
			My last '<a
				href="https://daily.bandcamp.com/features/bandcamp-fridays-update"
				class="cactus-link">Bandcamp Friday</a
			>' purchases were:
		</p>
		<ul class="mb-4 list-inside list-disc">
			<li>
				<a href="https://michellezauner.bandcamp.com/album/jubilee" class="cactus-link">Jubilee</a>
				 by Japanese Breakfast
			</li>
			<li>
				<a href="https://snailmail.bandcamp.com/album/valentine" class="cactus-link">Valentine</a>
				 by Snail Mail
			</li>
		</ul>
		<p class="mb-4">
			I'm a bit worried about whether 'Bandcamp Friday' will continue, since the new owners haven't
			exactly earned themselves much trust with their recent actions... I suppose as long as 100% of
			the money goes to artists, I'll keep using it!
		</p>
		<h2 class="title mb-4 text-xl">Watching</h2>
		<p class="mb-4">We've just started The Bear, which is very good (if a bit stressful).</p>
		<h2 class="title mb-4 text-xl">Playing</h2>
		<p class="mb-4">
			I seem to have bounced off Starfield pretty quickly. I'm back to playing Overwatch 2 with
			friends and Assassins Creed: Valhalla on my own.
		</p>
	</section>
</PageLayout>
