---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Now" }}>
  <section>
    <h1 class="title mb-6">Now</h1>
    <p class="mb-4">What's this? Just a lil' summary of what I'm up to these days. Check out <a href="https://nownownow.com" class="cactus-link">nownownow.com</a> for others.
    <h2 class="title mb-4 text-xl">Life</h2>
    <p class="mb-4">I work as a Digital Platform Manager for British Red Cross. I'm part of a new internal team trying to build a new 'Web Platform'. We think the better tech and ways-of-working will be a boon in the long run. I've <a href="https://medium.com/digital-and-innovation-at-british-red-cross/how-were-building-an-adaptable-and-sustainable-web-platform-f4312a1e9df1" class="cactus-link">written more about this for our team's Medium blog</a>.</p>
    <h2 class="title mb-4 text-xl">Reading</h2>
    <p class="mb-4">I usually have three categories of book on the go at once: fiction, non-fiction, and a comic/graphic novel. I didn't read much for a few years and am trying to cultivate the habit again, so I find having a few different things to swap between helps keep me from getting stuck in a rut.</p>
    <p class="mb-4">I have a Bookwyrm account, but I tend to boost the posts for my reviews there on my Mastodon account anyway.</p>
    <p class="mb-4">I'm currently reading:</p>
    <ul class="mb-4 list-inside list-disc">
      <li><a href="https://bookwyrm.social/book/1019048/s/the-inugami-curse" class="cactus-link"><em>The Inugami Curse</em></a>, by Seishi Yokomizo.</li>
      <li><a href="https://bookwyrm.social/book/26867/s/working-in-public" class="cactus-link"> Working in Public: The Making and Maintenance of Open Source Software</em></a> by Nadia Eghbal.</li>
      <li><a href="https://bookwyrm.social/book/744950/s/the-ghost-in-you" class="cactus-link">The Ghost in You</em></a>, the fourth book in the Reckless series by Ed Brubaker and Sean Phillips.</li>
    </ul>
    <h2 class="title mb-4 text-xl">Listening</h2>
    <p class="mb-4">I'm 100% obsessed with King Gizzard & The Lizard Wizard at the moment. Their recent album (not their latest) <em>Changes</em> has been on repeat for weeks.</p>
    <h2 class="title mb-4 text-xl">Watching</h2>
    <p class="mb-4">Currently taking a break between seasons two and three of Only Murders In The Building to re-watch <em>Garth Marenghi's Darkplace</em>. It's weird and gross and so, so funny.
    <h2 class="title mb-4 text-xl">Playing</h2>
    <p class="mb-4">Starfield, of course, but really it's the single-player mod for <em>Escape From Tarkov</em> that's got me hooked at the moment! Sure it's got bugs and weird, player-hostile design choices, and I don't know how I feel about the devs... but no other first-person shooter (FPS) feels like it.</p>
  </section>
</PageLayout>
