---
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Now" }}>
  <section>
    <h1 class="title mb-6">Now</h1>
    <h2 class="title mb-4 text-xl">Life</h2>

    <h2 class="title mb-4 text-xl">Reading</h2>

    <h2 class="title mb-4 text-xl">Listening</h2>

    <h2 class="title mb-4 text-xl">Watching</h2>

    <h2 class="title mb-4 text-xl">Playing</h2>
  </section>
</PageLayout>
